#landingPage{
  height: 100%;
  // color: #FFF !important;
  .nav-bar {
    background-color: transparent;
    border: none;
    font-weight: bold;
    a {
      color: #FFF !important;
    }
  }
  #image {
    background:linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(/app/images/landing_alt.jpg);
    background-size: cover;
    background-position: center center;
    top: 0;
    bottom:0;
    height:100%;
  }
  .search-wrapper {
    position: fixed;
    top: 20%;
    margin-left: 20%;
    margin-right: 20%;
    color: #FFF;
    text-align: center
  }
  .search-header {
    font-weight: bold;
    font-size: 57px;
    text-shadow: 1px 1px 2px black;
    width: 80%;
    margin: 10px auto
  }
  .search-filter-wrapper {
     display: flex;
     justify-content: space-between;
     margin-bottom: 15px
  }
  .search-filter__item {
    width: 50%;
    border: 1px solid #FFF;
    line-height:45px;
    background-color: darkgrey;
  }
  .selectedGroupHomeType {
    background-color: #0f0f94 !important
  }
  .search-input {
    input {
      line-height: 50px;
      height: 50px
    }
    button {
      border-radius: 0 .25em .25em 0;
      height: 50px;
      border: 1px solid #ced4da
    }
  }
  .search-msg {
    color: red
  }

  @media (max-width:480px) {
    .search-wrapper {
      margin: 0 5%
    }
    .search-header {
      width: 100%;
      font-size: 40px;
    }
  }
}
