<div id="landingPage">
  <!--nav bar-->
  <nav id="nav" class="nav-bar">
    <div class="nav-bar-container">
      <a class="logo" href="#"></a>
      <div class="nav-item-container">
        <a ui-sref="login"  ng-if="user === undefined"><div class="nav-item">Login</div></a>
        <a ui-sref="landingPage" ng-if="user !== undefined"><div class="nav-item">Logout</div></a>
        <a ui-sref="signup" ng-if="user === undefined"><div class="nav-item">Sign Up</div></a>
      </div>
    </div>
  </nav>
  <!--end nav bar-->

  <!-- background image -->
  <div id="image"></div>
  <!-- end background image-->

  <!--search box-->
  <div class="search-wrapper">
    <h1 class="search-header">The Best Fit For Your Loved Ones</h1>
    <div class="search-filter-wrapper">
      <div class="search-filter__item" ng-class="{'selectedGroupHomeType': searchGroupHomeAGC === true}" ng-click="searchGroupHomeAGC=true;searchGroupHomeHIC=false">Residential Care</div>
      <div class="search-filter__item" ng-class="{'selectedGroupHomeType': searchGroupHomeHIC === true}" ng-click="searchGroupHomeHIC=true;searchGroupHomeAGC=false">Individual Residential Care</div>
    </div>
    <div class="search-input input-group">
      <input type="text" ng-model="searchText" ng-keyup="$event.keyCode == 13 ? submit(searchText) : null" class="form-control" placeholder="Search address...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="submit(searchText)">Search!</button>
      </span>
    </div>
    <div class="search-msg" ng-show="noResults" ng-init="noResults=false">No Results Found. Please try again</div>
  </div>
  <!--end search box-->
</div>
