<div id="listing-preview" style="margin-top:66px;background-color:white">
  <!-- <div style="background-color:lightgrey;height:40px;line-height:40px;color:white;text-align:center;position:fixed;width:100%;z-index:80">
    <div>You Are In Preview Mode <i class="fa fa-times-circle-o fa-lg" ng-click="closePreview()"></i></div>
  </div> -->

  <!-- <header layout=row ng-style="{'background-image': 'url(http://18.236.125.242/groupHomes/photos/' + userFacilityId + '/' + facilityPhotos[0].largePhoto + ')'}">
    <md-button class="md-raised md-cornered" ng-click="showAdvanced($event)" style="position:absolute;right:0;height:0">View Photos</md-button>
  </header> -->
  <div style="display:flex">
    <div style="width: 50%; height: 500px; border:1px solid white;box-sizing:content-box">
      <img style="height: 100%; width:100%;object-fit: cover" ng-src="{{facility.largePhotoLink}}">
    </div>
    <div style="display:flex; flex-direction:column;width:30%">
      <div style="height:250px;border:1px solid white;box-sizing:content-box">
        <div id="detailmap" style=""></div>
      </div>
      <div style="height: 250px; border:1px solid white;">
        <img style="height: 100%; width:100%;object-fit: cover" ng-src="{{facility.mediumPhotoLink}}">
      </div>
    </div>
    <div style="max-width: 30%; height:501px;border-left:1px solid white;border-bottom:1px solid white;background-color:lightgrey;box-sizing:content-box">
      <div style="height:10%;font-size:25px;display:flex;justify-content:center;align-items:center;">Closest Hospitals</div>
      <div ng-repeat="hospital in hospitals" style="height:30%;padding:20px;display:flex;justify-content: space-between">
        <div style="width:50%">
          <div style="font-size:18px;font-weight:bold">{{hospital.name}}</div>
          <div>City: {{hospital.city}}</div>
          <div>Distance: {{hospital.distance}}</div>
        </div>
        <div style="width:30%"><img ng-src="http://18.236.125.242/groupHomes/photos/HOS/{{hospital.smallPhoto}}" style="object-fit:cover;width:100%;height:100%"></div>
      </div>
    </div>
  </div>
  <div style="display:flex;overflow-x:scroll">
    <div ng-repeat="facilityPhoto in facilityPhotos track by $index" style="height:100px;width:auto;border:1px solid white; box-sizing:content-box;">
      <img ng-click="showAdvanced($event, $index)" ng-src="http://18.236.125.242/groupHomes/photos/{{facility.id}}/{{facilityPhoto.smallPhoto}}" style="height:100%;">
    </div>
  </div>
  <div style="display:flex">
    <div style="background-color:White; width:50%;float:left;padding: 0 100px">
      <div style="margin-top:20px">
        <h1 class="headline" style="">{{facility.name}}</h1>
      </div>
        <div style="padding: 10px 0">
          <h3 class="headline" style="">Address</h3>
          {{facility.address}}, {{facility.city}}, {{facility.state}}, {{facility.zip}}
        </div>
        <div style="padding: 10px 0">
          <h3 class="headline" style="">Description</h3>
          {{facility.specialHmFeature}}
        </div>
        <div style="padding: 10px 0">
          <h3 class="headline" style="">Room Configuration</h3>
          Beds: {{facility.beds}}
        </div>
        <div style="padding: 10px 0">
          <h3 class="headline" style="">Pricing</h3>
          Category 1 Private: {{facility.category1PrivateRange}} <br>
          Category 1 Shared: {{facility.category1SharedRange}} <br>
          Category 2 Private: {{facility.category2PrivateRange}} <br>
          Category 2 Shared: {{facility.category2SharedRange}} <br>
        </div>
      </div>
      <div style="background-color:white;width:50%;">
        <md-card style="padding:30px;margin-top:30px; margin-right:50px;margin-left:25px">
          <h1 class="headline" style="text-align:center">Current Occupancy Chart</h1>
          <h5 class="" style="text-align:center">Total Licensed Beds: {{facility.beds}}</h5>
          <div class="row" style="text-align:center;font-weight:bold;">
            <div class="" style="width:25%;line-height:35px;">
              Room Number
            </div>
            <div class="" style="width:25%;line-height:35px;">
              Beds per Room
            </div>
            <div class="" style="width:25%;line-height:35px;">
              # Beds Available
            </div>
            <div class="" style="width:25%;line-height:35px;">
              Room Gender
            </div>
          </div>
          <div style="border-bottom:1px solid grey"></div>
          <div class="row" style="text-align:center">
            <div ng-repeat="room in rooms" style="width:100%">
              <div class="row">
                <div class="" style="width:25%;line-height:35px;">
                  Room {{room.roomNumber}}
                </div>
                <div class="" style="width:25%;line-height:35px;">
                  {{room.roomBedCount}}
                </div>
                <div class="" style="width:25%;line-height:35px;">
                  {{room.bedsAvailable}}
                </div>
                <div class="" style="width:25%;line-height:35px;">
                  {{room.roomGender}}
                </div>
              </div>
            </div>
          </div>

        </md-card>
      </div>
    </div>
</div>
