<div id="listing-view-images" >
  <!-- <div > -->
    <div style="width:800px;height:600px">
      <div style="position: absolute;right:10px;top:10px;color:white;cursor: pointer" ng-click="close()">
        <i class="fa fa-times fa-2x"></i>
      </div>
      <div style="position:absolute;top:1%;left:1%;padding:10px;background-color:#333333;color:#FFF;font-weight: bold">{{selectedPhotoIndex+1}} of {{facilityPhotos.length}}</div>
      <div style="position:absolute;top:50%;left:1%;transform:translateY(-25px);height:50px;width:50px;color:#FFF;background-color:#333333;padding-right:5px;border-radius:50%;line-height:75px;text-align:center"><i ng-click="leftPhoto()" class="fa fa-angle-left fa-3x" aria-hidden="true"></i></div>
      <img ng-src="http://18.236.125.242/groupHomes/photos/{{facility.id}}/{{selectedPhoto.largePhoto}}" style="height:100%;width:100%;object-fit:cover">
      <div style="position:absolute;top:50%;right:1%;transform:translateY(-25px);height:50px;width:50px;color:#FFF;background-color:#333333;padding-left:5px;border-radius:50%;line-height:75px;text-align:center"><i ng-click="rightPhoto()" class="fa fa-angle-right fa-3x" aria-hidden="true"></i></div>
    </div>
  <!-- </div> -->
  <!-- <md-button class="md-raised md-cornered" ng-click="cancel()" style="float:right">CLOSE</md-button> -->

</div>
