#login{
  height: 100%;
  .full-width {
    width: 100%
  }
  .float-right {
    float: right;
  }
  .image-wrapper {
    background-image: url(/app/images/login.jpg);
    background-size: cover;
    background-position: center center;
    height: 100%;
    flex: 70
  }
  .login-wrapper {
    flex: 30;
    position: relative
  }
  .login-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
  }
  .login-field {
    background-color: white;
    margin:0 30px
  }

  @media (max-width: 415px) {
    .image-wrapper {
      width: 100%;
      position: fixed;
    }
    .login-field {
      padding: 0 20px
    }
  }
}
