<div id="login" layout="row">
  <div class="image-wrapper"></div>
  <div class="login-wrapper">
    <div class="login-box">
    <md-content class="login-field">
      <h1 class="md-display-2">Login</h1>
      <p class="md-body-1">Please enter username and password to login. If you do not have an account, please sign up.</p>
    </md-content>
    <md-content class="login-field">
      <div>
        <form name="userForm">
          <md-input-container class="md-block full-width">
            <label>Email</label>
            <input ng-model="email">
          </md-input-container>
          <md-input-container class="md-block full-width">
            <label>Password</label>
            <input type="password" ng-model="password">
          </md-input-container>
        </form>
      </div>
      <md-button class="md-raised md-cornered float-right" ng-click="login()">LOGIN</md-button>
      <md-button class="float-right" ng-click="signup()">SIGN UP</md-button>
    </md-content>
  </div>
  </div>
</div>
