  <div id="listing-search">
    <div class="row">
      <!-- search header nav-->
      <div class="header-wrapper">
        <!--search bar and filter-->
        <div class="search-wrapper">
          <!--search input bar-->
          <div class="search-bar input-group">
            <input type="text" ng-model="searchText" ng-keyup="$event.keyCode == 13 ? submit(searchText) : null" class="form-control" placeholder="Search address...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="submit(searchText, searchType)">Search!</button>
            </span>
          </div>
          <div class="filters">
            <!--group home filter-->
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="groupHomeMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Group Home</button>
              <div class="dropdown-menu" aria-labelledby="groupHomeMenu">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="searchGroupHomeAGC" ng-model="searchFilterObj.searchGroupHomeAGC">
                  <label class="form-check-label" for="searchGroupHomeAGC">
                    Residential Care
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="searchGroupHomeHIC" ng-model="searchFilterObj.searchGroupHomeHIC">
                  <label class="form-check-label" for="searchGroupHomeHIC">
                    Individual Residential Care
                  </label>
                </div>
              </div>
            </div>
            <!--room Type filter-->
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="roomTypeMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Room Type</button>
              <div class="dropdown-menu" aria-labelledby="roomTypeMenu">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="searchRoomTypePrivate" ng-model="searchFilterObj.searchRoomTypePrivate">
                  <label class="form-check-label" for="searchRoomTypePrivate">
                    Private
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="searchRoomTypeShared" ng-model="searchFilterObj.searchRoomTypeShared">
                  <label class="form-check-label" for="searchRoomTypeShared">
                    Shared
                  </label>
                </div>
              </div>
            </div>
            <!--gender filter-->
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="roomGenderMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gender</button>
              <div class="dropdown-menu" aria-labelledby="roomGenderMenu">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="searchGenderMale" ng-model="searchFilterObj.searchGenderMale">
                  <label class="form-check-label" for="searchGenderMale">
                    Male
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="searchGenderFemale" ng-model="searchFilterObj.searchGenderFemale">
                  <label class="form-check-label" for="searchGenderFemale">
                    Female
                  </label>
                </div>
              </div>
            </div>
            <!--price filter-->
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{searchFilterObj.searchPrice}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" ng-click="searchFilterObj.searchPrice = '< $1000'">< $1000</a>
                <a class="dropdown-item" ng-click="searchFilterObj.searchPrice = '< $2000'">< $2000</a>
                <a class="dropdown-item" ng-click="searchFilterObj.searchPrice = '< $3000'">< $3000</a>
                <a class="dropdown-item" ng-click="searchFilterObj.searchPrice = '< $4000'">< $4000</a>
                <a class="dropdown-item" ng-click="searchFilterObj.searchPrice = 'Any Price'">Any Price</a>
              </div>
            </div>
            <!--medicare-->
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="medicaidMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Medicaid</button>
              <div class="dropdown-menu" aria-labelledby="medicaidMenu">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="searchMedicaid" ng-model="searchFilterObj.searchMedicaid">
                  <label class="form-check-label" for="searchMedicaid">
                    Yes
                  </label>
                </div>
              </div>
            </div>
            <!--placeholder-->
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="medicaidMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Placeholder</button>
              <div class="dropdown-menu" aria-labelledby="medicaidMenu">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="searchMedicaid" ng-model="">
                  <label class="form-check-label" for="searchMedicaid">
                    Yes
                  </label>
                </div>
              </div>
            </div>
          </div><!--end filters-->
          <hr>
        </div>
        <!--compare and saved-->
        <div class="preferred">
          <button class="btn btn-default" type="button" ng-disabled="compareArr.length===0" ng-click="compareFacilities()">Compare</button>
          <button class="btn btn-default" ng-if="user.role==='user'"><a ui-sref="listingPreferred">Saved List</a></button>
        </div>
      </div>
      <!--end search header nav-->
      <main class="main-section-wrapper">
        <!--facility cards-->
        <div class="card-section-wrapper" ng-class="{'hide': show}">
          <div class="no-results-msg" ng-show="noResults">No Results Found. Please try again.</div>
          <div class="cards-wrapper">
            <div class="card-wrapper" ng-repeat="facility in facilities track by $index" on-finish-render="ngRepeatFinished">
              <!--facility card-->
              <div id="{{ 'card-' + $index }}" class="card" ng-mouseenter="showInfo(facility, $index);" ng-mouseleave="hideInfo(facility,$index);">
                <!--image-->
                <div class="card-image">
                  <img ng-click="selectFacility(facility)" ng-src="{{facility.smallPhotoLink}}">
                </div>
                <!--compare heart-->
                <div class="card-heart">
                  <i class="far fa-heart" ng-hide="facility.compare" ng-click="addToCompare(facility, $index)"></i>
                  <i class="fas fa-heart" ng-show="facility.compare" ng-click="removeFromCompare(facility, $index)"></i>
                </div>
                <!--facility info-->
                <div class="card-info">
                  <div class="lightgrey" >Total Beds: {{facility.beds}}</div>
                  <div class="bold">{{facility.name}}</div>
                </div>
              </div><!--end facility card-->
            </div><!--end ng repeat-->
          </div>
        </div>
        <!-- end facility cards-->
        <!--map-->
        <div class="map-wrapper" ng-class="{'show': show}">
          <div class="close-icon" ng-click="show = !show"><i class="fa fa-times fa-lg"></i></div>
          <div id="map" style=""></div>
        </div>
        <!--end map-->
        <!--map icon only visible in mobile-->
        <div class="map-icon" ng-init="show = false" ng-click="show = !show" ng-class="{'hide': show}">
          <i class="fas fa-map-marker-alt fa-lg"></i>
        </div>
      </main>
    </div>
  </div>
