html,
body {
  height: 100%;
}

.text-heading {
  font-size: 25px;
}

.col-no-pad {
  padding: 0;
}

@media (min-width: 1200px) {
  .container {
    width: 1350px;
  }

  .container.small {
    width: 100%;
  }
}

/********** MIXINS FOR MEDIA QUERIES **********/

#landingPage {
  height: 100%;
}

#landingPage .nav-bar {
  background-color: transparent;
  border: none;
  font-weight: bold;
}

#landingPage .nav-bar a {
  color: #FFF !important;
}

#landingPage #image {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/app/images/landing_alt.jpg");
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  height: 100%;
}

#landingPage .search-wrapper {
  position: fixed;
  top: 20%;
  margin-left: 20%;
  margin-right: 20%;
  color: #FFF;
  text-align: center;
}

#landingPage .search-header {
  font-weight: bold;
  font-size: 57px;
  text-shadow: 1px 1px 2px black;
  width: 80%;
  margin: 10px auto;
}

#landingPage .search-filter-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#landingPage .search-filter__item {
  width: 50%;
  border: 1px solid #FFF;
  line-height: 45px;
  background-color: darkgrey;
}

#landingPage .selectedGroupHomeType {
  background-color: #0f0f94 !important;
}

#landingPage .search-input input {
  line-height: 50px;
  height: 50px;
}

#landingPage .search-input button {
  border-radius: 0 .25em .25em 0;
  height: 50px;
  border: 1px solid #ced4da;
}

#landingPage .search-msg {
  color: red;
}

@media (max-width: 425px) {
  #landingPage .search-wrapper {
    margin: 0 5%;
  }

  #landingPage .search-header {
    width: 100%;
    font-size: 40px;
  }
}

#nav {
  background-color: #FFF;
  border-bottom: 1px solid lightgrey;
  top: 0;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  position: fixed;
  z-index: 10;
}

#nav .nav-bar-container {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

#nav .nav-item {
  display: inline;
  padding: 10px;
  padding-bottom: 23px;
}

#nav .nav-item:hover {
  border-bottom: 2px solid darkgray;
}

#nav a {
  color: black;
  text-decoration: none;
}

#nav .logo {
  font-size: 20px;
  float: left;
  padding: 0 20px;
}

#login {
  height: 100%;
}

#login .full-width {
  width: 100%;
}

#login .float-right {
  float: right;
}

#login .image-wrapper {
  background-image: url("/app/images/login.jpg");
  background-size: cover;
  background-position: center center;
  height: 100%;
  flex: 70;
}

#login .login-wrapper {
  flex: 30;
  position: relative;
}

#login .login-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#login .login-field {
  background-color: white;
  margin: 0 30px;
}

@media (max-width: 425px) {
  #login .image-wrapper {
    width: 100%;
    position: fixed;
  }

  #login .login-field {
    padding: 0 20px;
  }
}

#listing-create {
  margin-top: 66px;
  /*uploadcare preview */
}

#listing-create .thumb {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
}

#listing-create .thumb .thumb-text {
  position: absolute;
  opacity: 0;
  line-height: 50px;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
}

#listing-create .thumb:hover {
  cursor: pointer;
}

#listing-create .thumb:hover img {
  opacity: 0.3;
}

#listing-create .thumb:hover .thumb-text {
  opacity: 1;
}

#listing-create .image-preview-multiple ._list {
  padding-top: 20px;
}

#listing-create .image-preview-multiple ._item {
  padding: 0 0 10px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100px;
  word-break: break-word;
  font-size: 12px;
  line-height: normal;
}

#listing-create .image-preview-multiple ._item img {
  display: block;
  width: 80px;
  height: 80px;
  padding: 0 10px 6px;
}

#listing-edit {
  margin-top: 66px;
  /*uploadcare preview */
}

#listing-edit .thumb {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
}

#listing-edit .thumb .thumb-text {
  position: absolute;
  opacity: 0;
  line-height: 50px;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
}

#listing-edit .thumb:hover {
  cursor: pointer;
}

#listing-edit .thumb:hover img {
  opacity: 0.3;
}

#listing-edit .thumb:hover .thumb-text {
  opacity: 1;
}

#listing-edit .image-preview-multiple ._list {
  padding-top: 20px;
}

#listing-edit .image-preview-multiple ._item {
  padding: 0 0 10px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100px;
  word-break: break-word;
  font-size: 12px;
  line-height: normal;
}

#listing-edit .image-preview-multiple ._item img {
  display: block;
  width: 80px;
  height: 80px;
  padding: 0 10px 6px;
}

#listing-edit .not-available {
  color: black !important;
  font-weight: normal !important;
}

#listing-preferred {
  margin-top: 65px;
  padding: 15px 15px 0 15px;
  background-color: #FFF;
  /* General */
  /* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
  /* map info box */
  /* card section */
}

#listing-preferred div:focus {
  outline: none;
  border: 0;
}

#listing-preferred li:hover {
  cursor: pointer;
}

#listing-preferred .bold {
  font-weight: bold;
}

#listing-preferred .grey {
  color: grey;
}

#listing-preferred .no-margin {
  margin: 0;
}

#listing-preferred .map-wrapper {
  width: 40%;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 66px;
}

#listing-preferred #map {
  height: calc(100vh - 66px);
}

#listing-preferred .gm-style-iw {
  width: 350px !important;
  top: 15px !important;
  left: 0px !important;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border: 1px solid rgba(72, 181, 233, 0.6);
  border-radius: 2px 2px 10px 10px;
}

#listing-preferred #iw-container {
  margin-bottom: 10px;
}

#listing-preferred #iw-container .iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
  background-color: #48b5e9;
  color: white;
  margin: 0;
  border-radius: 2px 2px 0 0;
}

#listing-preferred #iw-container .iw-content {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 1px;
  padding: 15px 5px 20px 15px;
  overflow-y: auto;
  overflow-x: hidden;
}

#listing-preferred .iw-content img {
  float: right;
  margin: 0 5px 5px 10px;
}

#listing-preferred .iw-subTitle {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0;
}

#listing-preferred .iw-bottom-gradient {
  position: absolute;
  width: 326px;
  height: 25px;
  bottom: 10px;
  right: 18px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
}

#listing-preferred h1 {
  margin-left: 15px;
}

#listing-preferred .main-section-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#listing-preferred .card-section-wrapper {
  width: 60%;
}

#listing-preferred .cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

#listing-preferred .card-wrapper {
  margin: 10px;
  width: 250px;
}

#listing-preferred .card {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  height: 100%;
  box-sizing: content-box;
}

#listing-preferred .card-image img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

#listing-preferred .card-heart {
  margin: 10px;
  color: red;
}

#listing-preferred .card-info {
  margin: 10px;
}

#listing-preferred .active {
  background-color: dodgerblue;
}

#listing-preferred .map-icon {
  display: none;
}

#listing-preferred .close-icon {
  display: none;
}

@media (max-width: 425px) {
  #listing-preferred {
    /* card section */
    /* map */
  }

  #listing-preferred h1 {
    font-size: 25px;
  }

  #listing-preferred .hide {
    display: none;
  }

  #listing-preferred .show {
    display: inline-block;
  }

  #listing-preferred .card-section-wrapper {
    width: 100%;
  }

  #listing-preferred .card-wrapper {
    width: 100%;
  }

  #listing-preferred .card {
    width: 100%;
  }

  #listing-preferred .card-image {
    width: 100%;
  }

  #listing-preferred .map-icon {
    display: inline;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 1px solid #FFF;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    color: #0f0f94;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }

  #listing-preferred .map-wrapper {
    display: none;
    position: fixed;
    width: 100%;
    top: 66px;
    padding: 0;
    margin: 0;
  }

  #listing-preferred .map-wrapper #map {
    height: calc(100vh - 66px);
  }

  #listing-preferred .close-icon {
    z-index: 10;
    display: inline;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 1px solid #FFF;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    color: #0f0f94;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }
}

#listing-preview header {
  width: 100%;
  height: 600px;
  padding-top: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#listing-preview #detailmap {
  height: 100%;
}

#listing-view header {
  width: 100%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#listing-view #detailmap {
  height: 100%;
}

#listing-search {
  margin-top: 65px;
  padding: 15px 15px 0 15px;
  background-color: #FFF;
  /* General */
  /* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
  /* map info box */
  /* end map styles */
  /* search header */
  /* card section */
}

#listing-search .bold {
  font-weight: bold;
}

#listing-search .lightgrey {
  color: lightgrey;
}

#listing-search .map-wrapper {
  width: 40%;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 131px;
}

#listing-search #map {
  height: calc(100vh - 131px);
}

#listing-search .gm-style-iw {
  width: 350px !important;
  top: 15px !important;
  left: 0px !important;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border: 1px solid rgba(72, 181, 233, 0.6);
  border-radius: 2px 2px 10px 10px;
}

#listing-search #iw-container {
  margin-bottom: 10px;
}

#listing-search #iw-container .iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
  background-color: #48b5e9;
  color: white;
  margin: 0;
  border-radius: 2px 2px 0 0;
}

#listing-search #iw-container .iw-content {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 1px;
  padding: 15px 5px 20px 15px;
  overflow-y: auto;
  overflow-x: hidden;
}

#listing-search .iw-content img {
  float: right;
  margin: 0 5px 5px 10px;
}

#listing-search .iw-subTitle {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0;
}

#listing-search .iw-bottom-gradient {
  position: absolute;
  width: 326px;
  height: 25px;
  bottom: 10px;
  right: 18px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
}

#listing-search .header-wrapper {
  padding: 10px;
  display: flex;
  background-color: #0f0f94;
  margin-top: -14px;
  position: fixed;
  z-index: 1;
}

#listing-search .search-wrapper {
  display: flex;
}

#listing-search .search-bar {
  height: 45px;
  width: 30%;
}

#listing-search .search-bar input {
  height: 100%;
}

#listing-search .search-bar button {
  border-radius: 0 .25em .25em 0;
  height: 45px;
  border: 1px solid #ced4da;
}

#listing-search .filters {
  display: flex;
}

#listing-search .filters button {
  border-radius: .25em;
  height: 45px;
  border: 1px solid #ced4da;
  width: 115px;
  margin-left: 10px;
}

#listing-search .filters label {
  margin-left: 20px;
}

#listing-search .preferred {
  display: flex;
}

#listing-search .preferred button:nth-child(2) {
  margin-left: 10px;
}

#listing-search .no-results-msg {
  color: red;
  padding-left: 30px;
}

#listing-search .main-section-wrapper {
  display: flex;
  flex-direction: column;
}

#listing-search .card-section-wrapper {
  width: 60%;
  margin-top: 60px;
}

#listing-search .cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

#listing-search .card-wrapper {
  margin: 10px;
}

#listing-search .card {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  width: 250px;
  height: 345px;
  box-sizing: content-box;
}

#listing-search .card-image img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

#listing-search .card-heart {
  margin: 10px;
  color: red;
}

#listing-search .card-info {
  margin: 10px;
}

#listing-search div:focus {
  outline: none;
  border: 0;
}

#listing-search li:hover {
  cursor: pointer;
}

#listing-search .highlight {
  box-shadow: 0 1px 5px 5px #48b5e9;
}

#listing-search label {
  font-weight: normal;
}

#listing-search .map-icon {
  display: none;
}

#listing-search .close-icon {
  display: none;
}

@media (max-width: 425px) {
  #listing-search {
    /* search header */
    /* card section */
    /* map */
  }

  #listing-search .header-wrapper {
    flex-wrap: wrap;
    background-color: #FFF;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.24), 0px 1px 4px 0px rgba(0, 0, 0, 0.04);
  }

  #listing-search .search-wrapper {
    flex-wrap: wrap;
  }

  #listing-search .search-bar {
    width: 100%;
    margin-bottom: 10px;
  }

  #listing-search .filters {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #listing-search .filters button {
    margin-left: 0;
    margin-bottom: 10px;
    height: 34px;
  }

  #listing-search hr {
    width: 100%;
    margin: 0 0 10px 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
  }

  #listing-search .hide {
    display: none;
  }

  #listing-search .show {
    display: inline-block;
  }

  #listing-search .card-section-wrapper {
    margin-top: 185px;
  }

  #listing-search .card-section-wrapper {
    width: 100%;
  }

  #listing-search .card-wrapper {
    width: 100%;
  }

  #listing-search .card {
    width: 100%;
  }

  #listing-search .card-image {
    width: 100%;
  }

  #listing-search .map-icon {
    display: inline;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 1px solid #FFF;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    color: #0f0f94;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }

  #listing-search .map-wrapper {
    display: none;
    position: fixed;
    width: 100%;
    top: 274px;
    padding: 0;
    margin: 0;
  }

  #listing-search .map-wrapper #map {
    height: calc(100vh - 274px);
  }

  #listing-search .close-icon {
    z-index: 10;
    display: inline;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 1px solid #FFF;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    color: #0f0f94;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }
}

/* PREVIOUS SEARCH?? */

#signup {
  height: 100%;
}

#signup .full-width {
  width: 100%;
}

#signup .float-right {
  float: right;
}

#signup .image-wrapper {
  background-image: url("/app/images/login.jpg");
  background-size: cover;
  background-position: center center;
  height: 100%;
  flex: 70;
}

#signup .signup-wrapper {
  flex: 30;
  position: relative;
}

#signup .signup-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#signup .signup-field {
  background-color: white;
  margin: 0 30px;
}

@media (max-width: 425px) {
  #signup .image-wrapper {
    width: 100%;
    position: fixed;
  }

  #signup .signup-field {
    padding: 0 20px;
  }
}

#listing-view-images md-dialog {
  height: 800px !important;
  width: 2000px !important;
}